<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header', null, { path: path }) %>

  <%- partial('_partial/mobile-nav') %>

  <%- body %>

  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</body>
</html>
